<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: bolder; font-size: 3em;">
        About
        <h2 style="font-weight: 400px; color: #433465;"> Looking for who's responsible for this app??</h2>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-background-page">
    <ion-card>
      <ion-item>
        <ion-avatar class="ionicavatar">
          <img src="assets/img/romeo.jpg">
        </ion-avatar>
      </ion-item>
      <ion-card-header>
        Student Profile
      </ion-card-header>
  
      <ion-list lines="none">
        <ion-item>
          Name : Romeo John Perez
        </ion-item>
  
        <ion-item>
          Course : Bachelor of Information Technology
        </ion-item>
        <ion-item>
          Year : 3rd Year
        </ion-item>
      </ion-list>
    </ion-card>

  </div>

    <ion-card>
      <ion-card-header>
        Subject
      </ion-card-header>
  
      <ion-list lines="none">
        <ion-item>
          Name : IT Elective 2
        </ion-item>
        <ion-item>
          Department : Computer
        </ion-item>
      </ion-list>
    </ion-card>
</ion-content>
