<ion-content>
  <div class="flex-center">
    <ion-card class="ion-padding">
      <ion-card-header>
        <ion-card-title color="tertiary" style="font-weight: bolder; font-size: 3em;" class="ion-text-center">Acheeve</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button color="dark" fill="clear"size="full">forgot email/password</ion-button>
      <ion-button color="tertiary" size="full">login</ion-button>
      <ion-button color="tertiary" size="full" fill="clear">register</ion-button>
    </ion-card>
  </div>
</ion-content>
