<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: bolder; font-size: 3em;">
        Search
        <h2 style="font-weight: 400px; color: #433465;"> Looking for archived tasks?</h2>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <ion-card color="tertiary">
          <ion-card-header>
            <ion-card-title>Cancelled Tasks</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <div>
          <ion-card color="primary">
            <ion-card-header>
              <ion-card-title>Archived Tasks</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card color="success">
          <ion-card-header>
            <ion-card-title>Completed Task</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
